.aside{
    min-height: 100vh;
    width: 200px;
    padding-top: 22px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    transition: transform 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 1;
}

.aside.show {
    transform: translateX(0);
    z-index: 1;
}

@media (max-width:1000px){
    .aside{
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }
    .courses-content {
        justify-content: center;
    }
}

.item .to{
    padding: 60px 0;
    text-align: center;
    width: 100%;
    color: white;
    padding: 10px 0;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    display: flex;
}
.items .item{
    width: 100%;
    padding-left: 40px;
}
.items .item:hover{
   background-color: var(--background-third);
}
.items .item:hover .rotate-vert-center{-webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

.aside .title{
    position: absolute;
    top: 0;
    padding: 6px 0;
    font-size: 20px;
    text-align: center;
    color: var(--color-title);
    font-weight: 600;
    width: 100%;
    background-color: var(--color-main);
}

.items{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item{
    display: flex;
    align-items: center;
    gap: 1em;
}

