.courses{
    margin: 30px;
    background-color:#1C2833;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;

}

.courses h2{
    color: #fff;
}
.courses-content{
    background-color:#1C2833;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}