.courses{
    margin: 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.courses  h2{
    color: var(--color-main);
    font-weight: 600;
    font-size: 16px;
}
.courses-content{
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}