.body{
    width: 100%;
    margin-left: 200px;
}

@media (max-width: 1000px) {
    .aside{
        display: none;
    }
    .body{
        margin: 0;
    }
    .aside .title{
        position: relative;
    }
}
@media (min-width:1000px){
    .btnHeader{
        display: none;
    }
}