header{
    width: 100%;
    
}
.navbar{
    width: 100%;
    background-color: var(--background-secondary) ;
}
.nav-link img{
    width: 40px;
}

.dropdown-toggle::after{
    display: none;
}
.dropdown-menu{
    background-color: #15191f;
}
.dropdown-item{
    color: var(--color-title);
    cursor: pointer;
}
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #2c5eaa;
    color: var(--color-title);
}

.nav-item .nav-link{
    color: var(--color-title);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnHeader button{
    background-color: transparent;
    border:none;
    font-size: 30px;
}