@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /*Background*/
    --background-main:#202327;
    --background-secondary:#1e1f22;
    --background-third: #282a2e;
    --color2:#171a4a;
    
    /*Main*/
    --color-main:#2E86C1;
    --color-title:#f1e8e8;
    --color-card:#3a404936;

    /*Buttons*/
    --color-button: #2e86c154;
}

main{
    display: flex;
    min-width: 100%;
    background-color: var(--background-main);
}

.content-loading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}


::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-thumb {
background-color: var(--background-third);
border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
background-color:  var(--background-third);
}

::-webkit-scrollbar-track {
background-color: var(--color-main);
}