@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /*Fondos*/
    --color1:#000020;
    --color2:#171a4a;
    
    /*Principales*/
    --color3:#dc77337e;
    --color4:#239b578c;
    --color5:#505c6360;

    /*Fondos
    --color1:#000820;
    --color2:#000516;
    
    
    /*Principales
    --color3:#032181;
    --color4:#032285;
    --color5:#010c30;*/
}