.course{
    background: var(--color5);
    padding: 20px 10px;
    margin: 10px 10px 0 0;
    border-radius: 10px;
    min-width: 200px;
    max-width: 200px;
}
.course:hover{
    cursor: pointer;
    box-shadow: 5px 7px 10px #0034523a;
    position: relative;
    top: -5px;
}
.course .description h1 {
    font-size: 16px;
    color: white;
}
.course .description p {
    font-size: 12px;
    color: rgb(201, 201, 201);
}
.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.details .category h3{
    background-color: var(--color3);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    margin: 0px 10px;
}
.details .date h4{
    background-color: var(--color4);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
}