.course{
    background: var(--color-card);
    padding: 20px 10px;
    margin: 10px 10px 0 0;
    border-radius: 2px;
    min-width: 300px;
    max-width: 200px;
    border: 0.1px solid transparent;
}
.course:hover{
    cursor: pointer;
    border: 0.1px solid rgb(65, 64, 64);
}
.course .description h1 {
    font-size: 16px;
    color: var(--color-title);
}
.course .description p {
    font-size: 12px;
    color: rgb(201, 201, 201);
}
.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.details .category h3{
    background-color: var(--color3);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
    margin: 0px 10px;
}
.details .date h4{
    background-color: var(--color-button);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
}