.myCourses{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.myCourses h2{
    color: var(--color-main);
    font-weight: 600;
    font-size: 16px;
}

.myCoursesContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: 200px;
}